html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.borda{
    background-color: rgb(216,216,230);
    border-style:inset;
    margin: 5px 0;
    border-radius: 5px;
    border-color: black;
    text-align:justify;
}
.dados{
    background-color: rgb(215,216,230);
    margin: 5px;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: white;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color:rgb(220, 221, 221);
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(238,239,239);
    min-height: 150px;
}

.headat{
    background-color: rgb(238,239,239);
    min-height: 150px;
    
}

.header .logo{
    margin-left:250px;
    opacity: 90%;
}

.header .atendimento{
    width: 900px;
    height: 250px;
    opacity: 40%;
    display: inline-block;
    position: relative;
}

.header figcaption{
    position: absolute;
    top: 50px;
    right: 300px;
    font-size: 80px;
    color: black;
    text-shadow: 0px 0px 5px black;
}

.headat .atendimento{
    width: 900px;
    height: 250px;
    opacity: 40%;
    display: inline-block;
    position: relative;
}

.headat figcaption{
    position: absolute;
    top: 130px;
    right: 300px;
    font-size: 50px;
    color: rgb(50, 50, 230);
    text-shadow: 0px 0px 5px black;
}

.headct .atendimento{
    width: 900px;
    height: 250px;
    opacity: 40%;
    display: inline-block;
    position: relative;
}

.headct figcaption{
    position: absolute;
    top: 130px;
    right: 380px;
    font-size: 80px;
    color: black;
    text-shadow: 0px 0px 5px black;
}

.content {
    background-color: rgb(240,240,240);
    min-height: 300px;
    padding: 20px;
    font-family:'Mandali', sans-serif;;
}

.content .sorriso{
    width: 90%;
    height: 55%;
}

.content .dentista{
    height: 450px;
    width: 450px;
    margin-left: 200px;
}
.content h1{
    color: black;
    opacity: 90%;
}

.content h2{
    text-align: center;
}

.content p{
    font-size:small
}
.footer {
    background-color: rgb(240, 240, 240);
    min-height: 70px;
    text-align: center;
    text-decoration: underline;
}

table{
    background-color: rgb(238,239,239);
    height: 375px;
}
    table tr:nth-child(even){
        background-color: #a1a1a1;
    }
    table tr:hover td{
        background-color: rgb(200,125,125);
    }

label{
    width: 100px;
    text-align: right;
    display: inline-block;
    padding-right: 5px;
}

fieldset{
    background-color: rgb(238,239,239);
    margin: 10px 0;
    border-radius: 5px;
    border-color: black;
}
